### Pandas - DataFrame and Series
Pandas is a powerful  data manipulation library in Python, widely used for data analysis and data cleaning. it provides two primary data structure; Series and DataFrame. A Series is a one-dimensionl array-like object, while a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns).

### Series
Pandas Series is a one-dimensional array-like object that can hold any data type. It is similar to a column in a table

In [1]:
import pandas as pd
import numpy as np

In [4]:
data = [1,2,3,4,5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
# Dictionary
data1 = {
    'a':1,
    'b':2,
    'c':3
}

series1 = pd.Series(data1)
print(series1)

a    1
b    2
c    3
dtype: int64

In [13]:
data2 = [1,2,3,4,5,6,6]
index = [6,5,4,3,2,1,0]
series2 = pd.Series(data2, index=index)
print(series2)

6    1
5    2
4    3
3    4
2    5
1    6
0    6
dtype: int64

In [2]:
arr = np.array([1,2,3,4,5])
new_series  = pd.Series(arr)

In [3]:
print(new_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
## create dataframe form the dictionary
data = {
    'Name': ['Raimal', 'Raja', 'Professor'],
    'Age': [20,23,24],
    'City': ['Badin','hyderabad', 'Karachi']
}

df = pd.DataFrame(data)
print(df)

        Name  Age       City
0     Raimal   20      Badin
1       Raja   23  hyderabad
2  Professor   24    Karachi

In [10]:
## convert dataframe into a array
arr_df = np.array(df)
print(arr_df)

[['Raimal' 20 'Badin']
 ['Raja' 23 'hyderabad']
 ['Professor' 24 'Karachi']]

In [16]:
## create a  dataframe from a list of dictionaries
data = [
    {'Name':'Raimal',
     'Age':20,
     'city': 'Badin'
     },
    
    {'Name':'Professor',
     'Age':21, 
     'city': 'Hyderabad'
     },
    {'Name':'Raja',
     'Age':23, 
     'city': 'Karachi'
     },
]

df = pd.DataFrame(data)
print(df)
print(type(df))

        Name  Age       city
0     Raimal   20      Badin
1  Professor   21  Hyderabad
2       Raja   23    Karachi
<class 'pandas.core.frame.DataFrame'>