In [7]:
import pandas as pd
from io import StringIO
data  = '[{ "name":"John", "age":30, "city":"New York"}]'

df = pd.read_json(StringIO(data))

In [8]:
df

   name  age      city
0  John   30  New York

In [9]:
df.to_json()

'{"name":{"0":"John"},"age":{"0":30},"city":{"0":"New York"}}'

In [11]:
df.to_json(orient='index')

'{"0":{"name":"John","age":30,"city":"New York"}}'

In [12]:
df.to_json(orient='records')

'[{"name":"John","age":30,"city":"New York"}]'