###  SQL and SQLlite
SQL (Structured Query Language) is a standard language for managing and manipulatingg relational databases. SQLlite is a self-contained, serverless, and zero-configuration database engine that is widely used for embbeded database systems. in this lesson, we will cover the basics of SQLite, including databses, tables and perfoming SQL operation

In [1]:
import sqlite3

In [2]:
## connect to an SQlite database
connection = sqlite3.connect('example.db')
connection

In [3]:
## create cursor
cursor = connection.cursor()

In [4]:
## create  a table
cursor.execute('''
               
               create  table if not exists employees(
                   id integer primary key,
                   name text not null,
                   age integer,
                   department txt
               )
               
               ''')


## commit the changes
connection.commit()

In [5]:
cursor.execute('''
               select * from employees'''
               )

In [6]:
##insert the data in sqlite3
cursor.execute('''
               insert into employees(name, age, department)
               values('Professor', 20,'data scientist')
               ''')

cursor.execute('''
               insert into employees(name, age, department)
               values('Raimal', 22,'data analyst')
               ''')

cursor.execute('''
               insert into employees(name, age, department)
               values('Raja', 23,'ML engineer')
               ''')

connection.commit()

In [7]:
cursor.execute('''
               
               select * from employees''')

In [8]:
## Query  te data from the table
cursor.execute('select * from employees')
rows= cursor.fetchall()


## print  the queried data
for row in rows:
    print(row)

(1, 'Professor', 20, 'data scientist')
(2, 'Raimal', 22, 'data analyst')
(3, 'Raja', 23, 'ML engineer')

In [9]:
## updated  the data in the table
cursor.execute('''
               update employees
               set age = 34
               where name = 'Professor'
               
               
               ''')

connection.commit()

In [10]:
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Professor', 34, 'data scientist')
(2, 'Raimal', 22, 'data analyst')
(3, 'Raja', 23, 'ML engineer')

In [11]:
## Delete the data from table
cursor.execute('''
              
              delete from employees
              where name='Professor' 
               
               
               ''')

connection.commit()

In [12]:
cursor.execute('''select *  from employees''')
rows = cursor.fetchall()


for row in rows:
    print(row)

(2, 'Raimal', 22, 'data analyst')
(3, 'Raja', 23, 'ML engineer')