In [12]:
### working with sales data
## connect to an SQLite database
import sqlite3


connection = sqlite3.connect('sales_data.db')
cursor  = connection.cursor()


# create a table for sales data
cursor.execute('''
                CREATE TABLE IF NOT EXISTS sales (
                    id Integer primary key,
                    date text not null, 
                    product text not null,
                    sale integer,
                    region text
                )
               
               ''')

## insert data into sales table
sale_data = [
    
    ('2025-01-01', 'Product1',100, 'North'),
    ('2025-01-02', 'Product2',149, 'South'),
    ('2025-01-03', 'Product3',130, 'East'),
    ('2025-01-04', 'Product4',150, 'West'),
    ('2025-01-05', 'Product5',200, 'North')
]


cursor.executemany('''
                   insert into sales (date, product, sale, region)
                   values(?,?,?,?)
                   ''', sale_data)

connection.commit()

In [13]:
cursor.execute('select * from sales')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2025-01-01', 'Product1', 100, 'North')
(2, '2025-01-02', 'Product2', 149, 'South')
(3, '2025-01-03', 'Product3', 130, 'East')
(4, '2025-01-04', 'Product4', 150, 'West')
(5, '2025-01-05', 'Product5', 200, 'North')