### Handling Imbalance Dataset
1 Up Sampling
2 Down Sampling

In [1]:
import numpy as np
import pandas as pd

In [2]:
# set the  random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [8]:
### CREATE MY DATASET WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1':  np.random.normal(loc=0, scale=1, size= n_class_0),
    'feature_2':  np.random.normal(loc=0, scale=1, size= n_class_0),
    'target':  [0]*n_class_0
    
})

In [6]:

class_1 = pd.DataFrame({
    'feature_1':  np.random.normal(loc=0, scale=1, size= n_class_1),
    'feature_2':  np.random.normal(loc=0, scale=1, size= n_class_1),
    'target': [1]*n_class_1
})

In [11]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [12]:
df.head()

   feature_1  feature_2  target
0   0.703310  -0.644925       0
1  -0.598105   1.575650       0
2   2.200702   0.753276       0
3   0.688297   0.284470       0
4  -0.006307   0.204860       0

In [13]:
df.tail()

     feature_1  feature_2  target
995   1.031114  -3.231055       1
996  -1.084568  -0.269293       1
997  -1.363472  -0.110851       1
998   0.379401  -0.341262       1
999  -0.379176  -0.217946       1

In [14]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [17]:
## upsampling
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

from sklearn.utils import resample
df_minority_upsampled = resample(df_minority, replace=True, n_samples=len(df_majority),random_state = 42)

In [18]:
df_minority_upsampled.shape

(900, 3)

In [19]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951  -1.038788   0.283725       1
992   0.181035   0.199582       1
914  -0.443982   1.012739       1
971  -0.831155  -0.075121       1
960  -0.772709   0.020316       1

In [20]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [21]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64